<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ventura"
        tools:targetApi="31">
        <activity
            android:name=".view.MainMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".view.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".view.NoInternetLogin"
            android:exported="false" />

        <activity
            android:name=".view.NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".view.ProfileActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".view.NewProfileActivity"
            android:exported="true" >

        </activity>
        <!-- Add any other attributes as needed -->
        <!-- Actividad SplashActivity -->

        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Actividad MainActivity -->
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <!-- Actividad com.example.ventura.view.MapActivity -->
        <activity
            android:name=".view.MapsActivity"
            android:label="Campus Sites"
            android:theme="@style/Theme.AppCompat">
        </activity>



    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>